/*draw progress bar using circle and rect svg*/

.progress-bar-steps {
	width: 100%;
	margin: 15px 0;
	position: relative;
  height: 230px;
  border-bottom: 2px solid #4caaf2;
}

.progress-bar-diagram {
  position: absolute;
  width: 100%;
  height: 100px;
}

.circle {
  height: 100px;
  width: 100px;
}

.rect {
  height: 30px;
  width: 100vw;
  position: absolute;
}

svg > rect {
  width: 20vw;
  height: 25px;
  fill: white;
  stroke: #4caaf2;
  stroke-width: 2;
}

svg > circle {
  cx: 50px;
  cy: 50px;
  r: 30px;
  fill: white;
  stroke: #4caaf2;
  stroke-width: 2;
}

#bar-one {
  left: 13%;
  top: calc(68% - 30px);
}

#bar-two {
  left: 39%;
  top: calc(68% - 30px);
}

#bar-three {
  left: 63%;
  top: calc(68% - 30px);
}

.circle-order {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
}

.description-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
	padding-left: 10px;
}

.description-list > li{
  padding: 15px 5vw;
}

#steps-description {
  margin: 90px 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
	cursor: pointer;
}

#steps-details {
  display: flex;
  position: absolute;
  top: 160px;
  width: 100%;
  height: 25%;
  padding: 16px;
  letter-spacing: 1px;
  background-color: #f9f9f9;
  border: 2px solid #4caaf2;
  -webkit-font-smoothing: antialiased;
}

#current-title {
  font-weight: bolder;
  margin-right: 5px;
}

.fa-chevron-right {
  margin: 0 15px;
}

.active {
  fill: #4caaf2;
}

.selected {
	box-sizing: border-box;
  font-weight: bold;
	border-left: 2px solid #4caaf2;
	border-right: 2px solid #4caaf2;
	border-top: 2px solid #4caaf2;
	background-color: #f9f9f9;
	z-index: 3;
}

.graphs {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0;
}

.not-chosen {
	z-index: -1;
}
